<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>

<!--    #static piece of content, images, etc.-->
<!--pseudocode will be int he html document, so people can see the contents in the elements - don't put your secret api keys-->
<h1> Hello {{ username }}, how are you?
I am Dáre, I am now an HTML page </h1>

<p> How are you today, {{ title }}?</p>

</body>
</html>